@font-face {
    font-family: 'bebas';
    src: url('../fonts/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_regular-webfont.woff') format('woff'),
         url('../fonts/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas-bold';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold-webfont.svg#bebas_neue_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #FFF;
  font-family: 'Open Sans', sans-serif;
}

h2 {
	margin: 0;
	padding: 0;
	color: #6E4E60;
}

#logo{
	top: 0px;
	left: 0px;
}

#players {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 10px;
  padding-top: 0;
  text-align: center;
}
#players .list {
  padding: 5px;
  border-radius: 0 0 10px 10px;
  border: 4px solid #679c98;
  border-top: none;
  background: white;
}
#players h2 {
  background: white;
  display: inline-block;
  font-size: 0.9em;
  padding: 2px 15px;
  border: 4px solid #679c98;
  border-top: none;
  border-radius: 0 0 10px 10px;
  font-family: bebas;
}
#player-areas {
  width: 100%;
  overflow-x: hidden;
}
#player-areas .list {
  white-space: nowrap;
  position: relative;
}
#player-areas .list > div {
  box-sizing: border-box;
  padding-top: 60px;
  display: inline-block;
  background: #FFF;
  width: 100%;
  height: 100%;
}
#Lower{
  width: 100%;
  height: 25%;
  position: fixed;
  bottom: 0;
  left: 0;
}
#Hand{
  width: 70%;
  display: inline-block;
}
#Deck {
  width: 25%;
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 10px;
}
#deck-image img {
  max-height: 200px;
}
#deck-image .card1 {
  right: 15px;
  z-index: 10;
  bottom: 0px;
}
#deck-image .card2 {
  right: 10px;
  z-index: 9;
  bottom: g;
}
#deck-image .card3 {
  right: 5px;
  z-index: 8;
  bottom: 4px;
}
#deck-image .card4 {
  right: 0px;
  z-index: 7;
  bottom: 6px;
}
#prompts {
  z-index: 200;
  margin: auto;
  position: relative;
  top: 5px;
  left: 5px;
  height: 40px;
}
